:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1C1C1C;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#root #container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: auto;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: #23252C;
}

/* info page */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  background: #1A1B21;
}

header img {
  width: 200px;
  height: 300px;
  rotate: -90deg;
  border-radius: 0 0.5rem 0.5rem 0;
}

header h3 {
  font: bold 21px/0.5 'Inter', Avenir, Helvetica, Arial, sans-serif;
}

header h5 {
  font: bold 12px/2.5 'Inter', Avenir, Helvetica, Arial, sans-serif;
  color: #F3BF99;
}

header small {
  font: 500 10px/2.5 'Inter', Avenir, Helvetica, Arial, sans-serif;
  color: #F5F5F5;
}

a {
  text-decoration: none;
  font: 500 14.5px/3.5 'Inter', Avenir, Helvetica, Arial, sans-serif;
  padding: 0.4rem 2.1rem;
  border-radius: 0.5rem;
  transition: all 0.35s linear;
}

header a#email-button:link, header a#email-button:visited, header a#email-button:active {
  color: #374151;
  background: #fff;
}

header a#email-button:hover {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
}

header a#linkedIn-button:link, header a#linkedIn-button:visited, header a#linkedIn-button:active {
  padding: 0.4rem 1.6rem;
  color: #fff;
  background: #5093E2;
}

header a#linkedIn-button:hover {
  color: #5093E2;
  background: transparent;
  border: 1px solid #5093E2;
}

/* about area */

#about-section, #interest-section{
  width: 300px;
  padding: 1rem;
  background: #1A1B21;
}

#about-section h2, #interest-section h2 {
  font:bold 1.5rem/1.5 'Inter', Avenir, Helvetica, Arial, sans-serif;
}

#about-section p, #interest-section p {
  font: 500 0.84rem/1.5 'Inter', Avenir, Helvetica, Arial, sans-serif;
}

/* interest area */

/* Footer area */